@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
p {
  font-family: "Yusei Magic", sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: "Yusei Magic", sans-serif;
}

.redes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  background-color: #DAD7CA;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  display: grid;
  -ms-grid-rows: 100px 30px;
      grid-template-rows: 100px 30px;
}

.redes .enlaces {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.redes .enlaces img {
  max-height: 90px;
}

.redes .aviso {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body, html {
  min-height: 100%;
}

body {
  background-image: url("../media/cartografiav2.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F7B069;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 100px minmax(400px, 600px) auto 100px;
      grid-template-rows: 140px 100px minmax(400px, 600px) auto 100px;
  grid-auto-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .img0 {
  display: block;
}

.container .rasgado {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
  min-height: 100%;
}

.container .rasgado .img1 {
  display: block;
}

.container .rasgado .img2 {
  display: none;
}

.container .rasgado .img3 {
  display: none;
}

.container .rasgado .logo {
  position: absolute;
  top: 40px;
  left: 0%;
  max-width: 70%;
  height: 100%;
}

.container .rasgado .logo a img {
  max-width: 900px;
}

.aviso {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  background-color: #DAD7CA;
  color: #31485F;
  font-family: "Yusei Magic", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.aviso a {
  grid-auto-flow: column;
}

.aviso a img {
  max-height: 80px;
}

.creditos {
  background-color: #E6CCB5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(20px, 100px))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(20px, 100px));
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.creditos .fonca {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creditos .fonca img {
  position: relative;
  padding: 0px 10px 0px 10px;
  width: 500px;
}

.creditos .institucional {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  color: #A51D3B;
  text-align: center;
  font-size: smaller;
}

@media (min-width: 1050px) {
  .container .rasgado .img1 {
    display: none;
  }
  .container .rasgado .img2 {
    display: block;
  }
  .container .rasgado .img3 {
    display: none;
  }
  .container .rasgado .logo {
    left: 20%;
  }
}

@media (min-width: 1650px) {
  .container .rasgado .img1 {
    display: none;
  }
  .container .rasgado .img2 {
    display: none;
  }
  .container .rasgado .img3 {
    display: block;
  }
  .container .logo {
    left: 60%;
  }
}
/*# sourceMappingURL=styleIndex.css.map */