.redes{

     grid-column: 1/13;
     grid-row: 7/8;
     background-color: $c_gris;
     display: grid;
     
     align-content: space-evenly;
     display:grid;
     grid-template-rows: 100px 30px;
     .enlaces{
         grid-row: 1/2;
         display:grid;
         grid-auto-flow: column;
        img{
            max-height: 90px;
        }
     }
     .aviso{
         grid-row: 2/3;

     }



}