 
 
        nav{
                ul{
                    display: inline;
                    li{
                        display: inline;
                        a{
                            display: inline;
                            background-color: aquamarine;
                            color: black;
                        }
                    }
                }

            }
        