.slide{
    grid-column:1/13;
    grid-row: 3/5;
    display: grid;

    .slide-container{

        align-self: center;
        justify-self: center;
        display: grid;

        .mySlides{
            max-width: 900px;

           
        }
        .boton{
            justify-self:space-evenly;

        }
    }
}