@import "tipocolor";



*{
    padding: 0px;
    margin:0px;
    border:0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

body,html
{
    min-height: 100%;
}

body 
{
    background-image: url("../media/cartografiav2.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color:$c_naranja;
   }

   img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}


.container
{    
    display: grid;
    
    grid-template-rows: 140px 0px minmax(300px,500px) minmax(120px,min-content) auto;
    grid-auto-rows: auto;
    
    
    
    
   
    .rasgado{
    
        grid-row:3/4;
        
        position:relative;
        background-image: url("../media/rasgado01.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 700px 400px;
        display:flex;
        justify-content: center;
       

        


        .logo{
                   
            max-width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;

            transition: 1s;
            
            
            .logo1{
                display:none;
                
                img{
                    max-height: 300px;  
                }
            }
            .logo0{
               
               display:block;
                img{
                    padding:20px;
                    max-height: 100px;
                    max-width: 100px;
                    transition: 3s;
                }
            }
            
            
                
        } 
        .logo .logo0 img:hover{
            
                max-height:230px;
                max-width: 230px;
            
        }
    }

    
}

.aviso{
    grid-row: 4/5;
    background-color: $c_beige;
    color:$c_rojo;
    font-family: $fuente;
    display: flex;
    justify-content: space-around;
    
    align-items: center;

    a{
      padding:15px;
        img{
            max-height: 80px;
        }
        color: $c_rojo;
    }
}


.creditos{
    background-color: $c_beige;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit,minmax(20px,100px));
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    
    .fonca{
        
        grid-column: 1/5;
        grid-row: 2/3;
        display: grid;
        justify-content: center;
        
        img{
            position: relative;
            padding: 0px 10px 0px 10px;
            width:500px;
        }
    }
    .institucional{
        grid-column: 1/5;
        color:$c_rojogob;
        text-align: center;
        font-size:smaller;   
   }
}


@media  (min-width: 650px){
    .container{
        grid-template-rows: 140px 0px minmax(400px,600px) minmax(100px,min-content) 100px;

        .rasgado{

            background-image: url("../media/rasgado1.png");
            background-size: 1200px 450px;
            .logo{
                max-width: 600px;
                height: 200px;
                .logo1{

                    display:block;
                
                    img{
                        max-width: 650px; 
                    }
                }
                
                .logo0{
                    display:none;
                    img{
                    
                        max-width: 250px;
                    }
                    }    
                }      
            }
        }
    }

    

    


@media  (min-width: 1050px){
    
    .container{
        grid-template-rows: 140px 0px minmax(400px,600px) minmax(100px,min-content) 100px;

        .rasgado{

            background-image: url("../media/rasgado2.png");
            background-size: 1800px 450px;
            .logo{

                max-width: 900px;
                height: 200px;
                .logo1{

                    display:block;
                
                    img{
                        max-width: 1000px; 
                    }
                }
                
                .logo0{
                    display:none;
                    img{
                    
                        max-width: 250px;
                    }
                    }    
                }      
            }
        }
    }



@media  (min-width: 1650px){
   
    .container{
        grid-template-rows: 140px 0px minmax(400px,600px) minmax(100px,min-content) 100px;

        .rasgado{

            background-image: url("../media/rasgado3.png");
            background-size: 2400px 550px;
            .logo{

                max-width: 900px;
                height: 280px;
                .logo1{

                    display:block;
                
                    img{
                        max-width: 830px; 
                    }
                }
                
                .logo0{
                    display:none;
                    img{
                    
                        max-width: 250px;
                    }
                    }    
                }      
            }
        }


    }

