@import "tipocolor";

*{
    padding: 0px;
    margin:0px;
    border:0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

body,html
{
    min-height: 100%;
}

body 
{
    background-image: url("../media/cartografiav2.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:$c_naranja;
   }

   img{
    max-width: 100%;
    max-height: auto;
    display: block; 
}


.container
{    
    display: grid;
    grid-template-rows: repeat(12,.5fr) ;
    justify-content: center;
    align-content: center;
    height: fit-content;
    
}

.rasgado{
    
    width:100% ;
    height: auto;
    
    position: relative;
}

.logo{

    position: absolute;
    top:0px;
    left:0px;
}


.creditos{
    
    grid-row: 3/4;
    background-color: rgba(224, 224, 224, 0.9);
    display: grid;
    align-content: center;
    justify-items : center;

    div{
        h3{
            color:rgba(255, 254, 244, 0.8);
        }
    }
    .institucional{
        
        
   }
}

.aviso {
    grid-row:5/6 ;
    color:aliceblue;
    a{
        color:rgba(255, 254, 244, 0.8);
    }
    
}