
*{    
    border:0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;    
}



.container{
display: grid;
grid-template-columns: repeat(7,1fr);
grid-template-rows: repeat(12,1fr);
}

.articulo {
    background-color: rgba(0,0,0,0.6);
    color:aliceblue;
    grid-column: 2/7;
    grid-row: 4/5;
    padding: 2em;
    border-radius: 3px;
}
