@import "tipocolor";
@import "header";
@import "enlaces";
@import "slider";
@import "creditos";

*{    
    border:0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
    
}

body{
    background-image: url("../media/cartografiav3.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:$c_azulind;
}

img{
    max-width: 100%;
    max-height:100%;
    display: block;
}

.container{
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: 80px 100px repeat(3,minmax(20px,min-content)) auto 150px; 

}





header{
    grid-column: 1/13;
    grid-row: 2/5;

    
    
    div{

        width:100%;
        height: auto;

       

    }

    .titulo{

        position: absolute;
        top:0;
        left:0;
        max-height: 100%;   
        max-width: 100%;

    }
}


.slide{
    grid-column:1/13;
    grid-row: 3/6;
    display: grid;

    .slide-container{

        align-self: center;
        justify-self: center;
        display: grid;

        .mySlides{
            max-width: 900px;

           
        }
        .botones{
            display: flex;
            align-items: center;
            justify-content: center;


        .boton{
           height: 40px;
           width: 40px;

        }
    }
    }
}





@media  (min-width:700px){
.slide{
    
    
    }
.container{
    grid-template-rows: 80px 120px repeat(2,minmax(150px,300px)) minmax(200px,min-content) auto 150px; 

}

}

@media  (min-width:1000px){
    .slide{
        
        
        }
    .container{
        grid-template-rows: 80px 120px repeat(2,minmax(150px,220px)) minmax(200px,min-content) auto 150px; 
    
        .articulo{
            grid-column:3/11;
        }
    }
    
    }
