@import "tipocolor";
@import "enlaces";

*{
    padding: 0px;
    margin:0px;
    border:0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

body,html
{
    min-height: 100%;
}

body 
{
    background-image: url("../media/cartografiav2.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:$c_naranja;
   }

   img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}


.container
{    
    display: grid;
    grid-template-rows: 140px 100px minmax(400px,600px) auto 100px;
    grid-auto-rows: auto;
    justify-content: center;
    align-content: center;
    .img0{
        display:block;
    }
    
    
   
    .rasgado{
    
        grid-row:3/4;
        position:relative;
        top:0px;
        right:0px;
        width: 100%;
        min-height: 100%;
        

        
            
        
        .img1{
            display:block;
        }
        .img2{
            display: none;
        }
        .img3{
            display: none;
        }


        .logo{
            position: absolute;
            top:40px;
            left:0%;
            max-width: 70%;
            height: 100%;
            a{
                img{
                    max-width: 900px;
                    
                }
            }
                
        }  
    }

    
}

.aviso{
    grid-row: 5/6;
    background-color: $c_gris;
    color:$c_azulosc;
    font-family: $fuente;
    display: grid;
    align-content: space-evenly;

    a{
        grid-auto-flow: column;
        img{
            max-height: 80px;
        }
    }
}


.creditos{
    background-color: $c_beige;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit,minmax(20px,100px));
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    
    .fonca{
        
        grid-column: 1/5;
        grid-row: 2/3;
        display: grid;
        justify-content: center;
        
        img{
            position: relative;
            padding: 0px 10px 0px 10px;
            width:500px;
        }
    }
    .institucional{
        grid-column: 1/5;
        color:$c_rojogob;
        text-align: center;
        font-size:smaller;   
   }
}





@media  (min-width: 1050px){
.container{
    .rasgado{
        .img1{
        display:none;
         }

        .img2{
        display:block;
        }

        .img3{
            display:none;
            }
        
        .logo{
            left:20%;

        }
    }
}
}

@media  (min-width: 1650px){
    .container{
        .rasgado{
            .img1{
            display:none;
             }
    
            .img2{
            display:none;
            }
    
            .img3{
                display:block;
                }
            
            }
        
            .logo{
                left:60%;
    
            }
        }
    }
    

